/* CSS reset code */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Css Coding Starts here! */
html{
    font-family: 'Open Sans', sans-serif;
}
body{
    max-width: 1200px;
    margin: 0 auto;
}

.p1{
    word-spacing: 2px;
    background-color:#ffe6ac;
    padding: 30px;
    
}

p{
    line-height: 1.7;
}
/* Styling the Navigator Bar */

ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 2rem;
    overflow: hidden;
    background-color: #222;
}

ul.topnav li {float: none;}

ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 25px 35px;
    text-decoration: none;
}

ul.topnav li a:hover:not(.active) {
    background-color: #c78c06;
    color: #222;
}


  
  .topnav input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
  }
  

/* Welcome to Three Star Media CSS Code */


.container1{
    position: relative;
    font:arial;
}

.text-block{
    position: absolute;
    color:white;
    background-color:#222;
    text-decoration: solid;
    opacity: 0.8;
    left:100px;
    right: 100px;
    bottom: 50px;
    top:40px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
}

h1{
    font-size: 86px;
}

.button{
    background-color: #c78c06;
    border: none;
    color: #222;
    padding: 32px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 15px;
    cursor: pointer;

}


h2{
    font-size:50px;
    font-weight: bold;
}

h3{
    font-size:25px;
    font-weight: bold;
}

/* About Us CSS Code */

.float img{
    padding-top:20px;
    padding-bottom:30px;
    height: 250px;
    width: 450px;
    float:left;
    margin-left: 80px;
    margin-right: 20px;
}

/* Grid CSS code for Services */

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto auto auto auto auto;
    gap: 10px;
    text-align: justify;
  }
  
  .grid-box {
    background-color:#ffe6ac;
    padding:10px;

    
  }
  
  .grid-box:nth-child(1) {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .grid-box:nth-child(2) {
  
    grid-column: 3 / span 2;
    grid-row: 1 / span 2;

  }

  .grid-box:nth-child(3) {
  grid-column: 1 / span 1;
    grid-row: 3 / span 2;

  }

  .grid-box:nth-child(4) {
    grid-column: 2 / span 2;
    grid-row: 3 / span 2;

  }

  .grid-box:nth-child(5) {
    grid-column: 4 / span 1;
    grid-row: 3 / span 2;

  }

img {
    max-width:100%;
    height: auto;
}

.button1{
    background-color:#222;
    border: none;
    color: white;
    padding: 32px 190px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 15px 15px;
    cursor: pointer;
}

.button3{
    background-color:#222;
    border: none;
    color: white;
    padding: 32px 80px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
}

/* Our Team Grid CSS Code */

.grid-container2 {
    display: grid;
    grid-template-columns: auto auto;
    background-color:#ffe6ac;
  }

  .grid-item2:nth-child(3){
    padding-left:10px;
  grid-column: 2 / 1;

  }

  .grid-item2:nth-child(2){

    padding-left:10px;

  }

  hr{
      height:1px;
      border: 1px solid #c78b07;
      width:570px;
      
  }

  
/* Our Vision Code Structure */
.container2 {
    position: relative;
    font-family: Arial;
}
        
        .text-block2 {
          position: absolute;
          left:40px;
          top: 10%;
          color: white;
        }

     

    .button2{
        background-color:#222;
        border:1px solid #ccc;
        color: white;
        opacity: 0.9;
        padding: 32px 50px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 15px 15px;
        cursor: pointer;
    }
    

/* Contact Form Code Structure */

    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;}
    
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #222222;
      color: #c78b07;
      padding: 12px 20px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }
    
    
    .container3 {
      border-radius: 5px;
      padding: 20px;
    }

    /* Location Box CSS Code */

      .grid-container1 {
    display: grid;
    grid-template-columns: auto auto;
  }

  .grid-item1:nth-child(1){
    padding-left:10px;
   

  }

  .grid-item1:nth-child(2){

    padding-left: 40px;
    
  }
    /* Hours of Operation Table Code Structure */
   
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
        
    th {
        background-color: #ffe6ac;
        border: 1px solid black;
        text-align: center;
        padding: 20px;
    }

    td{
        border: 1px solid black;
        text-align: left;
        padding: 20px;
    }

/* Mobile Mockup */
@media screen and (min-width: 760px) {
    ul.topnav li.right,
    ul.topnav li {float: left;}

    #wrapper{
        margin-left:auto;
        margin-right:auto;
        width:760px;
    }
    
}
 